<!DOCTYPE html>
<html >
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navbar</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css">
    
    <link rel="stylesheet" href="./css/styles-old.css">
</head>
<body>
    <nav class="navbar navbar-dark navbar-expand-md bg-primary fixed-top">
        
        <div class="container">
            
        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#Navbar" id="toggler-icon">
            <span class="navbar-toggler-icon"></span></button>
           <a class="navbar-brand ml-2 mr-auto" href="#">JAROBUL</a>
           <div class="collapse navbar-collapse" id="Navbar">
            
           <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a class="nav-link" href="#"> <span class="fa fa-home fa-lg"></span> Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#"> <span class="fa fa-list fa-md"></span> Dashboard</a></li>
            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"> <span class="fa fa-book fa-md"></span> My course <span  class=""></span></a>
            <div class="dropdown-menu">
                <a href="#" class="dropdown-item">Enrolled Courses</a>
                <a href="#" class="dropdown-item">Available Courses</a>
            </div>
            </li>
            <li class="nav-item"><a class="nav-link" href="#"> <span class="fa fa-info fa-md"></span> About us</a></li>
            <li class="nav-item"><a class="nav-link" href="#"> <span class="fa fa-thumbs-up fa-md"></span> Motivation</a></li>
            <li class="nav-item"><a class="nav-link" href="#"><span class="fa fa-address-card fa-md"></span>  Contact</a></li>
        </ul>  

            <!-- yaha me soch raha tha modal use karu for login purpose (start)-->
        <span class="navbar-text">

            <a data-toggle="modal" id="loginModalClicker" class="text-dark">
            <span class="fa fa-sign-in"></span> Login</a>
        </span>
        
            <!-- yaha me soch raha tha modal use karu for login purpose (end) -->
             </div> 

        </div>
    </nav>
 
    <!-- nav part end -->

<div class="container " style="margin-top: 3em;">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card" >
                <a href="./colleges/iitd.html"><h3 class="card-header bg-primary text-white">IIT Delhi</h3></a>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-6">Address</dt>
                        <dd class="col-6">
                            Hauz Khas, New Delhi
                        </dd>
                        <dt class="col-6">
                            Established
                        </dt>
                        <dd class="col-6">1961</dd>
                        <dt class="col-6">Other Name</dt>
                        <dd class="col-6">IIT Hauz khas </dd>
                        <dt class="col-6">Website</dt>
                        <dd class="col-6">www.iitd.ac.in</dd>
                    </dl>
                </div>
                
            </div>
            
        </div>         
        
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <h3 class="card-header bg-primary text-white">IIT Bombay</h3>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-6">Address</dt>
                        <dd class="col-6">
                             Powai, Mumbai, India
                        </dd>
                        <dt class="col-6">
                            Established
                        </dt>
                        <dd class="col-6">1958</dd>
                        <dt class="col-6">Nickname</dt>
                        <dd class="col-6">Mumbai-IITians</dd>
                        <dt class="col-6">Website</dt>
                        <dd class="col-6">www.iitb.ac.in</dd>
                    </dl>
                </div>
            </div>

        </div>
        <div class="col-12 col-md-6 col-lg-4"">
            <div class="card">
                <h3 class="card-header bg-primary text-white">IIT Kharagpur</h3>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-6">Address</dt>
                        <dd class="col-6">
                            Kharagpur, West Bengal,  India
                        </dd>
                        <dt class="col-6">
                            Established
                        </dt>
                        <dd class="col-6">1951</dd>
                        <dt class="col-6">Nickname</dt>
                        <dd class="col-6">KGPians </dd>
                        <dt class="col-6">Website</dt>
                        <dd class="col-6">www.iitkgp.ac.in</dd>
                    </dl>
                </div>
            </div>

        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <h3 class="card-header bg-primary text-white">IIT Madras</h3>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-6">Address</dt>
                        <dd class="col-6">
                            Chennai, Tamil Nadu, India
                        </dd>
                        <dt class="col-6">
                            Established
                        </dt>
                        <dd class="col-6">1959</dd>
                        <dt class="col-6">Nickname</dt>
                        <dd class="col-6"> IITMians</dd>
                        <dt class="col-6">Website</dt>
                        <dd class="col-6">www.iitm.ac.in</dd>
                    </dl>
                </div>
            </div>

        </div> 
         <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <h3 class="card-header bg-primary text-white">IIT Kanpur</h3>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-6">Address</dt>
                        <dd class="col-6">
                            Kalyanpur, Kanpur, UP, India
                        </dd>
                        <dt class="col-6">
                            Established
                        </dt>
                        <dd class="col-6">1959</dd>
                        <dt class="col-6">Nickname</dt>
                        <dd class="col-6">Kanpur-IITians </dd>
                        <dt class="col-6">Website</dt>
                        <dd class="col-6">www.iitk.ac.in</dd>
                    </dl>
                </div>
            </div>

         </div>  
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <h3 class="card-header bg-primary text-white">IIT Roorkee</h3>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-6">Address</dt>
                        <dd class="col-6">
                            Roorkee, Uttrakhand, India
                        </dd>
                        <dt class="col-6">
                            Established
                        </dt>
                        <dd class="col-6">1959</dd>
                        <dt class="col-6">Nickname</dt>
                        <dd class="col-6">IITians</dd>
                        <dt class="col-6">Website</dt>
                        <dd class="col-6">www.iitr.ac.in</dd>
                    </dl>
                </div>
            </div>

        </div>
    </div>
</div>



    <!-- footer part start -->
    <footer class="">
        <div class="container text-center"><h4>follow us</h4></div>
        <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6 align-self-center">
                        <div class="text-center">
                            <a class="btn btn-social-icon btn-google " href="http://google.com/+"><i class="fa fa-google-plus"></i></a>
                            <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook"></i></a>
                            <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin"></i></a>
                            <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
                            <a class="btn btn-social-icon btn-google" href="http://youtube.com/"><i class="fa fa-youtube"></i></a>
                            <a class="btn btn-social-icon " href="mailto:"><i class="fa fa-envelope-o"></i></a>
                        </div>
            </div>
       </div>
       
        

    </footer>
    
   
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
</body>
</html>