<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IIT Delhi</title>
    
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css">
    
    <link rel="stylesheet" href="../css/styles-old.css">
</head>
<body>
    <nav class="navbar navbar-dark navbar-expand-md bg-primary fixed-top">
        
        <div class="container">
            
        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#Navbar" id="toggler-icon">
            <span class="navbar-toggler-icon"></span></button>
           <a class="navbar-brand ml-2 mr-auto" href="#">JAROBUL</a>
           <div class="collapse navbar-collapse" id="Navbar">
            
           <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a class="nav-link" href="#"> <span class="fa fa-home fa-lg"></span> Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#"> <span class="fa fa-list fa-md"></span> Dashboard</a></li>
            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"> <span class="fa fa-book fa-md"></span> My course <span  class=""></span></a>
            <div class="dropdown-menu">
                <a href="#" class="dropdown-item">Enrolled Courses</a>
                <a href="#" class="dropdown-item">Available Courses</a>
            </div>
            </li>
            <li class="nav-item"><a class="nav-link" href="#"> <span class="fa fa-info fa-md"></span> About us</a></li>
            <li class="nav-item"><a class="nav-link" href="#"> <span class="fa fa-thumbs-up fa-md"></span> Motivation</a></li>
            <li class="nav-item"><a class="nav-link" href="#"><span class="fa fa-address-card fa-md"></span>  Contact</a></li>
        </ul>  

            <!-- yaha me soch raha tha modal use karu for login purpose (start)-->
        <span class="navbar-text">

            <a data-toggle="modal" id="loginModalClicker" class="text-dark">
            <span class="fa fa-sign-in"></span> Login</a>
        </span>
        
            <!-- yaha me soch raha tha modal use karu for login purpose (end) -->
             </div> 

        </div>
    </nav>
 
    
    <div class="container">
        <div class="breadcrumb">
            <ol class="col-12 breadcrumb">
                <li class="breadcrumb-item"><a href="../practice.html">IITD</a></li>
                <li class="breadcrumb-item active">Available courses</li>
            </ol>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 course">
                <div class="card align-self-center centers ">
                    
                    <div class="" style="border-radius: 30px;border:2px solid;width: 60px;height: 60px;">
                        <img src="../img/settings.svg" alt="Applied Mechanics" class=" image" >
                    
                    </div>
                        <p class="  name text-center">Applied Mechanics</p>
                    
                    
                </div>
            </div>
            <div class="col-md-6 course">
                <div class="card align-self-center centers ">
                    
                    <div class="" style="border-radius: 30px;border:2px solid;width: 60px;height: 60px;">
                        <img src=".././img/chemical.svg" alt="Chemistry" class=" image" >
                    
                    </div>
                        <p class="  name text-center">Chemistry</p>
                    
                    
                </div>
            </div>
            <div class="col-md-6 course">
                <div class="card align-self-center centers ">
                    
                    <div class="" style="border-radius: 30px;border:2px solid;width: 60px;height: 60px;">
                        <img src=".././img/circuit.svg" alt="CSE" class=" image" >
                    
                    </div>
                        <p class="  name text-center">Computer Science and Engineering</p>
                    
                    
                </div>
            </div>
            <div class="col-md-6 course">
                <div class="card align-self-center centers ">
                    
                    <div class="" style="border-radius: 30px;border:2px solid ;width: 60px;height: 60px;">
                        <img src=".././img/theodolite.svg" alt="" class=" image" >
                    
                    </div>
                        <p class="  name text-center">Civil Engineering</p>
                    
                    
                </div>
            </div>
           
            <div class="col-md-6 course">
                <div class="card align-self-center centers ">
                    
                    <div class="" style="border-radius: 30px;border:2px solid ;width: 60px;height: 60px;">
                        <img src=".././img/tower.svg" alt="" class=" image" >
                    
                    </div>
                        <p class="  name text-center">Electrical Engineering</p>
                    
                    
                </div>
            </div>
            <div class="col-md-6 course">
                <div class="card align-self-center centers ">
                    
                    <div class="" style="border-radius: 30px;border:2px solid ;width: 60px;height: 60px;">
                        <img src=".././img/lab-tool.svg" alt="" class=" image" >
                    
                    </div>
                        <p class="  name text-center">Chemical Engineering
                        </p>
                    
                    
                </div>
            </div>
            <div class="col-md-6 course">
                <div class="card align-self-center centers ">
                    
                    <div class="" style="border-radius: 30px;border:2px solid ;width: 60px;height: 60px;">
                        <img src=".././img/atom.svg" alt="" class=" image" >
                    
                    </div>
                        <p class="  name text-center">Physics</p>
                    
                    
                </div>
            </div>
            <div class="col-md-6 course">
                <div class="card align-self-center centers ">
                    
                    <div class="" style="border-radius: 30px;border:2px solid ;width: 60px;height: 60px;">
                        <img src=".././img/laboratory.svg" alt="" class=" image" >
                    
                    </div>
                        <p class="  name text-center">Biochemical Engineering and Biotechnology</p>
                    
                    
                </div>
            </div>
            <div class="col-md-6 course">
                <div class="card align-self-center centers ">
                    
                    <div class="" style="border-radius: 30px;border:2px solid ;width: 60px;height: 60px;z-index: 1;">
                        <img src="../img/textiles.svg" alt="" class=" image" >
                    
                    </div>
                        <p class="  name text-center">Textile and Fibre Engineering</p>
                    
                    
                </div>
            </div>
            <div class="col-md-6 course">
                <div class="card align-self-center centers ">
                    
                    <div class="" style="border-radius: 30px;border:2px solid ;width: 60px;height: 60px;">
                        <img src=".././img/abacus.svg" alt="" class=" image" >
                    
                    </div>
                        <p class="  name text-center">Mathematics</p>
                    
                    
                </div>
            </div>

        </div>
    </div>


    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>